body {
    font-family: 'Cabin', sans-serif;
    background: #000000;
}
h1 {
    font-family: 'BioRhyme', serif;
    color: whitesmoke;
}
h2 {
    font-family: 'BioRhyme', serif;
    color: whitesmoke;
}
h3 {
    font-family: 'BioRhyme', serif;
    color: white;
    /* text-align: center; */
}
p {
    font-family: 'BioRhyme', serif;
    color: whitesmoke;
}
.blockquote-footer{
color: whitesmoke;
}
a {
    color: black;
}
p {
    text-indent: 10%;
}
.container {
    background-color: #5D1BE3 !important;
}
.card {
    background-color: #5D1BE3 !important;    
}
/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #5D1BE3;
  }
  
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
#contactinfo {
    text-align: center;
}
#informationtext{
    display: inline-block;
    font-size: 200%;
}
#aboutmetext{
    font-size: 120%;
}
.GitHubAnchor{
    color: whitesmoke;
}