body {
    background: #ABA4AD;
}
h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
}
h2 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: black;
}
h3 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
    /* text-align: center; */
}
p {
    font-family: 'ZCOOL KuaiLe', cursive;
}
nav {
    font-family: 'Ultra', serif;
    font-size: 150%;
    
}

.navbar-brand {
    font-size: 100%;
}
.nav-item {
    float: right;
    color: whitesmoke;
}
p {
    text-indent: 10%;
}
.container {
    background-color: #596148 !important;
}
.card {
    background-color: #596148 !important;    
}
#contactinfo {
    text-align: center;
}
#informationtext{
    display: inline-block;
    font-size: 200%;
}
#aboutmetext{
    font-size: 120%;
}
.portfolio1 {
    border: 10px solid #596148;
    border-radius: 10px;
}
.GitHubAnchor {
    color: black;
}