body {
    background: #505661;
}

h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
}

h3 {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: white;
    /* text-align: center; */
}

p {
    font-family: 'ZCOOL KuaiLe', cursive;
}
nav {
    font-family: 'Ultra', serif;
    font-size: 150%;
}
.navbar-brand {
    font-size: 200%;
}
.nav-item {
    float: right;
    color: whitesmoke;
}
p {
    text-indent: 10%;
}
